.postentry {
    border-left:3px solid transparent;
    padding:0.5rem 1rem;
    transition: border 0.25s linear;
}

.postentry:hover {
    cursor:pointer!important;
    border-left:7px solid var(--accent);
}
.justified {
    text-align: justify;
}